*.mode1v3
*.pbxuser
xcuserdata
xcuserdata/*
*.xcworkspace/*
*.xcworkspace
.libs
.target_source
Makefile
config.h
config.log
config.status
keywordhash.h
lemon
lempar.c
libsqlite3.la
libtclsqlite3.la
libtool
mkkeywordhash
opcodes.c
opcodes.h
parse.c
parse.h
parse.h.temp
parse.out
parse.y
sqlite3
sqlite3.c
sqlite3.h
*.lo
*.o
tsrc
sqlite3.pc
testfixture
